.sidebar{
    width: 18%;
    min-height: 100vh;
    border: 1.5px solid #a9a9a9;
    border-top: 0px;
    font-size: max(1vw,10px);
    /* background-color: rgb(248, 232, 212); */
}
.sidebar-options{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 50px;
    padding-left: 20%;
}
.sidebar-option{
    display: flex;
    align-items: center;
    gap: 12px;
    border: 1.5px solid black;
    border-right: 0px;
    padding: 8px 10px;
    border-radius: 3px 0px 0px 3px;
    cursor: pointer;
}
.sidebar-option.active{
    border-color: tomato;
    background-color: rgb(241, 233, 233);
}
@media (max-width:900px){
    .sidebar-option p{
        display: none;
    }
}