.navbar{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding:8px 4%;
    /* margin-left: 20px; */
    background-color: rgb(247, 239, 228);
}
.navbar .profile{
    width:40px;
}
.navbar .logo{
    font-size: 30px;
    font-weight: 500;
}
.navbar .vendor{
    color: grey;
    font-weight: 600;
    font-size: 30px;
}
.navbar .portal{
    font-size: 11px;
    text-align: center;
}