.app-download{

    margin-top: 100px;
    font-size: max(3vw,20px);
    text-align: center;
    font-weight: 500;
}
.app-download-platforms{
    display: flex;
    justify-content: center;
    gap: max(2vw ,10px);
    margin-top: 40px;
}
.app-download-platforms img{
    width: max;
    max-width: 180px;
    cursor: pointer;
    transition: 0.5s;
}
.app-download-platforms img:hover{
    transform: scale(1.05);
}
.app-download .logo{
    font-weight: 600;
    font-size: 40px;
}
.app-download .vendor{
    color: grey;
    font-weight: 600;
    font-size: 40px;
}